<nav>
    <a href="/productos"><i class='bx bx-box'></i> <span>Productos</span></a>
    <a href="/carrito"><i class='bx bx-cart'></i> <span>Carrito</span></a>
    <a href="perfil"><i class='bx bx-user'></i> <span>Perfil</span></a>
    <a href="logout"><i class='bx bx-log-out'></i> <span>Cerrar sesión</span></a>
</nav>